body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    text-align: center;
}

.wrapper {
    text-align: left;
    width: 1000px;
    margin: 0 auto;
}

.container {
    max-width: 960px;
    margin: 0;
    padding: 20px;
}

header {
    background-color: #ffffff;
    color: #ff3333;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

header p {
    color: #ff0000;
}

nav {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
    margin: 0 15px;
}

a {
    text-decoration: none;
    color: #ff3333;
    font-weight: bold;
    font-size: 16px;
}

a.active {
    color:#ff8c00;
}

a:hover {
    color: #ff8c00;
}

section {
    padding: 40px 0;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #ffffff
}

section p {
    color: #555;
}

footer {
    background-color: #ffffff;
    color: #ff3333;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}